*.DS_Store
**/.DS_Store
.nrepl-port
**/.lsp/.cache
.clj-kondo
!/.clj-kondo/config.edn
/cli/.clj-kondo/
/out
target/
/classes
/.DS_Store
/.cpcache
/node_modules
/test.clj
/clojure-lsp
/*.jar
clojure-lsp.build_artifacts.txt
lib/clojure-lsp.integration-test.out
cli/integration-test/sample-test/clojure-lsp.integration-test.out
/clojure-lsp.old
/.classpath
/.project
/.settings/
/reports

