{:linters {:clojure-lsp/unused-public-var {:level :info}
           :unresolved-namespace {:report-duplicates true
                                  :level :info}
           :unused-namespace {:level :info}

           :unresolved-symbol {:report-duplicates true
                               :level :info}
           :unused-referred-var {:report-duplicates true
                                 :level :off}
           :unused-import {:level :off}

           :clojure-lsp/unused-public-ns {:level :info}}
 :auto-load-configs false}

